@import "tailwindcss";
@config "../../tailwind.config";
@tailwind utilities;

/*--- text size ---*/

@utility textXsApp {
  @apply text-sm desktop:text-xs;
}

@utility textSmApp {
  @apply text-base desktop:text-sm;
}

@utility textBaseApp {
  @apply text-lg desktop:text-base;
}

@utility text2XlApp {
  @apply text-3xl desktop:text-2xl;
}

@utility textLgApp {
  @apply text-xl desktop:text-lg;
}

@utility inputErrorText {
  @apply text-sm desktop:text-xs;
}

@utility menuText {
  @apply text-base desktop:text-base;
}

@utility itemText {
  @apply text-base desktop:text-sm;
}

@utility labelChipText {
  @apply text-base desktop:text-sm;
}

@utility modalBase {
  @apply fixed left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%] z-[11] flex flex-col items-center rounded-[16px] bg-light-bg1 border-2 border-slate-400;
}

@utility modalFullBase {
  @apply fixed left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%] z-[11] flex flex-col items-center desktop:rounded-[16px] bg-light-bg1 desktop:border-2 desktop:border-slate-400;
}

@utility modalFullSize {
  @apply w-full desktop:w-[480px] h-screen desktop:h-[90%];
}

@utility headerText {
  @apply text-center text-2xl leading-normal font-semibold;
}

/*--- buttons ---*/

@utility homeButtonBase {
  @apply flex items-center justify-center button1ColorLight font-medium rounded-full;
}

.homeButton {
  @apply homeButtonBase px-[28px] desktop:px-[24px] h-[60px] desktop:h-[48px] text-lg desktop:text-base;
}

.homeButtonSm {
  @apply homeButtonBase px-[20px] desktop:px-[18px] h-[44px] desktop:h-[38px] text-base desktop:text-sm;
}

@utility button1ColorLight {
  @apply text-light-button1-text bg-light-button1 border-2 border-light-button1 desktop:hover:bg-light-button1-hover desktop:hover:border-light-button1-hover outline-none focus:bg-light-button1-hover focus:border-light-button1-hover active:bg-light-button1-hover desktop:cursor-pointer;
}

@utility button1Color {
  @apply button1ColorLight;
}

@utility button2Color {
  @apply text-slate-500 bg-none border-2 border-slate-400 desktop:hover:brightness-[1.2] active:brightness-[1.2] desktop:cursor-pointer;
}

@utility buttonBase {
  @apply h-[56px] desktop:h-[44px] text-lg desktop:text-sm font-semibold rounded-[10px] desktop:rounded-[8px] flex items-center justify-center;
}

.loginButton {
  @apply buttonBase button1ColorLight;
}

.button1 {
  @apply buttonBase button1Color;
}

.button2 {
  @apply buttonBase button2Color;
}

.buttonSettings {
  @apply w-[80px] desktop:w-[68px] h-[36px] desktop:h-[32px] text-sm desktop:text-xs font-medium flex items-center justify-center gap-[4px] rounded-full button1Color;
}

.xButton {
  @apply absolute right-0 top-0 w-[64px] h-[64px] desktop:w-[52px] desktop:h-[52px] text-[32px] desktop:text-[24px] font-bold flex items-center justify-center desktop:rounded-bl-[14px] desktop:rounded-tr-[14px] cursor-pointer desktop:hover:bg-light-bg3 active:bg-light-bg3;
}

.pageXButton {
  @apply absolute right-[-8px] top-[4px] w-[60px] h-[60px] desktop:w-[50px] desktop:h-[50px] text-[32px] desktop:text-[28px] font-bold flex items-center justify-center rounded-[8px] cursor-pointer desktop:hover:bg-light-bg3 active:bg-light-bg3;
}

.mobileBack {
  @apply absolute left-[12px] top-[18px] leading-none text-[42px] font-medium p-[8px] portrait:sm:hidden landscape:lg:hidden desktop:!hidden;
}

/*--- input ---*/

@utility inputColor {
  @apply bg-white text-black rounded-[8px] outline-none border-[1.5px] border-slate-300 focus:border-blue-500 transition-[all] duration-[500ms];
}

@utility placeholderColor {
  @apply placeholder:italic placeholder:text-slate-400 dark:placeholder:text-slate-500;
}

.label {
  @apply pb-[2px] font-semibold text-lg desktop:text-sm;
}

.input {
  @apply w-full h-[52px] desktop:h-[40px] px-[10px] desktop:px-[8px] text-lg desktop:text-sm inputColor;
}

.inputCondensed {
  @apply w-full h-[44px] desktop:h-[36px] px-[10px] desktop:px-[8px] text-lg desktop:text-sm inputColor;
}

/*--- components ---*/

.menuContainer {
  @apply fixed flex-none landscape:w-[120px] landscape:lg:w-[160px] landscape:desktop:!w-[200px] landscape:h-screen portrait:w-full portrait:h-[80px] portrait:sm:h-[140px] flex justify-center items-center portrait:border-t landscape:border-r border-slate-400;
}

.menuThreeItemContainer {
  @apply landscape:w-full landscape:h-[80%] landscape:min-h-[360px] landscape:max-h-[600px] portrait:w-full portrait:min-w-[360px] portrait:max-w-[700px] portrait:pb-[10px] flex landscape:flex-col items-center justify-around;
}

.menuIcon {
  @apply text-[24px] portrait:sm:text-[40px] landscape:lg:text-[40px];
}

.appPageContainer {
  @apply flex-none portrait:w-full portrait:h-[calc(100%-80px)] portrait:sm:h-[calc(100%-140px)] portrait:mb-[80px] portrait:sm:mb-[140px] landscape:grow landscape:h-full landscape:ml-[120px] landscape:lg:ml-[160px] landscape:desktop:!ml-[200px] flex flex-col items-center;
}

.loginError {
  @apply absolute top-[calc(100%+3px)] text-red-500 leading-none inputErrorText;
}

.listHeaderHeight {
  @apply h-[50px] portrait:sm:h-[60px] landscape:lg:h-[60px];
}

.listButtonHeight {
  @apply h-[90px] portrait:sm:h-[110px] landscape:lg:h-[110px];
}

.listAllHeight {
  @apply portrait:h-[calc(100vh-80px-140px)] portrait:sm:h-[calc(100vh-140px-170px)] landscape:h-[calc(100vh-140px)] landscape:lg:h-[calc(100vh-170px)];
}

.listItemHeight {
  @apply portrait:h-[calc((100vh-80px-140px)/10)] portrait:sm:h-[calc((100vh-140px-140px)/10)] landscape:h-[calc((100vh-140px)/10)] landscape:lg:h-[calc((100vh-170px)/10)] min-h-[60px] max-h-[80px];
}

.settingsTitle {
  @apply mt-[8px] h-[64px] portrait:sm:h-[80px] landscape:lg:h-[80px] portrait:lg:h-[90px] desktop:!h-[90px] text-2xl portrait:sm:text-3xl landscape:lg:text-3xl desktop:!text-2xl font-bold flex items-center justify-center flex-none text-blue-700 dark:text-white;
}

.settingsField {
  @apply w-full  h-[52px] desktop:h-[40px] flex items-center justify-between border-t-[1.5px] border-slate-300;
}

.labelsField {
  @apply py-[16px] w-full flex items-center border-t-[1.5px] border-slate-300;
}

.settingsInputContainer {
  @apply h-full flex items-center cursor-pointer;
}

.settingsLabelFont {
  @apply font-medium text-slate-500;
}

.settingsInput {
  @apply w-full h-full px-[12px] py-[4px] text-end cursor-pointer focus:cursor-text outline-none focus:ring-0 bg-transparent focus:bg-white border-[1.5px] border-transparent focus:border-blue-500 desktop:group-hover:text-slate-500 focus:desktop:group-hover:text-light-text1 transition-all duration-[300ms] placeholderColor placeholder:font-normal placeholder:pr-[2px] focus:placeholder:text-transparent rounded-[6px];
}

.settingsFontFixed {
  @apply text-[16px] portrait:sm:text-[20px] landscape:lg:text-[20px] desktop:!text-[16px];
}

.settingsEditIcon {
  @apply text-[24px] desktop:text-[18px] text-light-button1 desktop:cursor-pointer desktop:hover:brightness-[1.2];
}

.settingsOptions {
  @apply w-full h-[50px] desktop:h-[40px] px-[12px] flex items-center border-[1.5px] border-slate-400;
}

.labelChip {
  @apply flex-none h-[40px] px-[4px] desktop:px-[4px] w-full py-[8px] desktop:py-[8px] desktop:cursor-pointer desktop:hover:bg-slate-200 truncate;
}

/*--- modal ---*/

.modalSmall {
  @apply modalBase w-[94%] max-w-[450px] max-h-[90%] py-[24px];
}

.modalFull {
  @apply modalFullBase modalFullSize desktop:pb-[12px];
}

.modalSmallContentContainer {
  @apply w-full flex flex-col items-center px-[16px] portrait:sm:px-[40px] landscape:lg:px-[40px] desktop:!px-[32px] overflow-y-auto;
}

.modalFullContentContainer {
  @apply w-full h-full px-[12px] portrait:sm:px-[32px] landscape:lg:px-[32px] desktop:!px-[72px] flex flex-col items-center overflow-y-auto;
}

.modalButtonContainer {
  @apply w-full flex flex-col items-center pt-[36px] pb-[20px] gap-[24px];
}

.modalButtonWidth {
  @apply w-[300px];
}

.modalBlackout {
  @apply opacity-[70%] dark:opacity-[88%] fixed inset-0 bg-black backdrop-blur-xl z-[10];
}

.modalFullHeader {
  @apply w-[240px] desktop:!w-[300px] py-[24px] text-center text-2xl desktop:text-xl leading-normal desktop:leading-normal font-semibold;
}

.pageHeader {
  @apply w-[94%] max-w-[400px] py-[24px] text-center text-2xl font-bold relative;
}

/*--- utilities ---*/

.link {
  @apply cursor-pointer text-blue-600 dark:text-blue-400 xs:hover:underline active:underline;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.thinScrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.thinScrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #f6f9fc;
}

.thinScrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 6px;
}
