.animate-page1 {
  animation: page1 15s linear infinite;
}
.animate-page2 {
  animation: page2 15s linear infinite;
}
.animate-page3 {
  animation: page3 15s linear infinite;
}
.animate-page4 {
  animation: page4 15s linear infinite;
}
.animate-page5 {
  animation: page5 15s linear infinite;
}

@keyframes page1 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  10.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes page2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  30.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes page3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes page4 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  82% {
    opacity: 1;
  }
  82.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes page5 {
  0% {
    opacity: 0;
  }
  82% {
    opacity: 0;
  }
  82.1% {
    opacity: 1;
  }
  99.9% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-arrow {
  animation: arrowNew 15s ease-out infinite;
  transform: translateZ(0);
}
@keyframes arrowNew {
  /* page 1 */
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  5% {
    transform: translateY(250px) scale(1);
    opacity: 1;
  }
  6% {
    transform: translateY(250px) scale(1);
    opacity: 1;
  }
  8% {
    transform: translateY(254px) scale(0.9);
    opacity: 1;
  }
  10% {
    transform: translateY(250px) scale(1);
    opacity: 1;
  }
  /* page 2 */
  10.1% {
    transform: translateY(250px) scale(1);
    opacity: 0;
  }
  20% {
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  20.1% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
  25% {
    transform: translateY(92px) scale(1);
    opacity: 1;
  }
  26% {
    transform: translateY(92px) scale(1);
    opacity: 1;
  }
  28% {
    transform: translateY(96px) scale(0.9);
    opacity: 1;
  }
  30% {
    transform: translateY(92px) scale(1);
    opacity: 1;
  }
  /* page 3 */
  30.1% {
    transform: translateY(92px) scale(1);
    opacity: 0;
  }
  40% {
    transform: translateY(-240px) scale(1);
    opacity: 0;
  }
  40.1% {
    transform: translateY(-240px) scale(1);
    opacity: 1;
  }
  45% {
    transform: translateY(-50px) scale(1);
    opacity: 1;
  }
  46% {
    transform: translateY(-50px) scale(1);
    opacity: 1;
  }
  48% {
    transform: translateY(-46px) scale(0.9);
    opacity: 1;
  }
  50% {
    transform: translateY(-50px) scale(1);
    opacity: 1;
  }
  /* page 4 */
  50.1% {
    transform: translateY(-50px) scale(1);
    opacity: 1;
  }
  58% {
    transform: translateY(-166px) scale(1);
    opacity: 1;
  }
  60% {
    transform: translateY(-162px) scale(0.9);
    opacity: 1;
  }
  62% {
    transform: translateY(-166px) scale(1);
    opacity: 1;
  }
  68% {
    transform: translateY(-55px) scale(1);
    opacity: 1;
  }
  70% {
    transform: translateY(-51px) scale(0.9);
    opacity: 1;
  }
  72% {
    transform: translateY(-55px) scale(1);
    opacity: 1;
  }
  78% {
    transform: translateY(225px) scale(1);
    opacity: 1;
  }
  80% {
    transform: translateY(229px) scale(0.9);
    opacity: 1;
  }
  82% {
    transform: translateY(225px) scale(1);
    opacity: 1;
  }
  /* page 5 */
  82.1% {
    transform: translateY(-200px) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateY(225px) scale(1);
    opacity: 0;
  }
}

@keyframes costText {
  10.1% {
    transform: translateX(4ch);
  }
  20% {
    transform: translateX(0);
  }
}
.animate-cost {
  animation: costText 15s steps(4, end) infinite;
}

.animate-name {
  animation: nameText 15s steps(15, end) infinite, nameCursor 15s step-end infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  display: inline-block;
}
@keyframes nameText {
  30.1% {
    width: 0;
  }
  40% {
    width: 15ch;
  }
}
@keyframes nameCursor {
  30.1% {
    border-color: transparent;
  }
  35% {
    border-color: white;
  }
  40% {
    border-color: transparent;
  }
  45% {
    border-color: white;
  }
  50% {
    border-color: transparent;
  }
}

.animate-labelTypeBg1 {
  animation: labelTypeBg1 15s ease-in-out infinite;
}
.animate-labelTypeBg2 {
  animation: labelTypeBg2 15s ease-in-out infinite;
}
.animate-labelTypeBg3 {
  animation: labelTypeBg3 15s ease-in-out infinite;
}
@keyframes labelTypeBg1 {
  0% {
    background-color: #0364ff;
  }
  60% {
    background-color: #0364ff;
  }
  60.1% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes labelTypeBg2 {
  0% {
    background-color: transparent;
  }
  60% {
    background-color: transparent;
  }
  60.1% {
    background-color: #0364ff;
  }
  70% {
    background-color: #0364ff;
  }
  70.1% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes labelTypeBg3 {
  0% {
    background-color: transparent;
  }
  70% {
    background-color: transparent;
  }
  70.1% {
    background-color: #0364ff;
  }
  100% {
    background-color: #0364ff;
  }
}

.animate-none1 {
  animation: none1 15s ease-in-out infinite;
}
.animate-none2 {
  animation: none2 15s ease-in-out infinite;
}
@keyframes none1 {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes none2 {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  70.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animate-labelText1 {
  animation: labelText1 15s ease-in-out infinite;
}
.animate-labelText2 {
  animation: labelText2 15s ease-in-out infinite;
}
@keyframes labelText1 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  60.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes labelText2 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  70.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.animate-choices1 {
  animation: choices1 15s ease-in-out infinite;
}
.animate-choices2 {
  animation: choices2 15s ease-in-out infinite;
}
.animate-choices3 {
  animation: choices3 15s ease-in-out infinite;
}
@keyframes choices1 {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes choices2 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  60.1% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  70.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes choices3 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  70.1% {
    opacity: 1;
  }
  82% {
    opacity: 1;
  }
  82.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animate-button1 {
  animation: button1 15s ease-in-out infinite;
}
.animate-button2 {
  animation: button2 15s ease-in-out infinite;
}
.animate-button3 {
  animation: button3 15s ease-in-out infinite;
}
.animate-button4 {
  animation: button4 15s ease-in-out infinite;
}

@keyframes button1 {
  6% {
    transform: scale(1);
  }
  8% {
    transform: scale(0.92);
  }
  10% {
    transform: scale(1);
  }
}
@keyframes button2 {
  26% {
    transform: scale(1);
  }
  28% {
    transform: scale(0.92);
  }
  30% {
    transform: scale(1);
  }
}
@keyframes button3 {
  46% {
    transform: scale(1);
  }
  48% {
    transform: scale(0.92);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes button4 {
  78% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.92);
  }
  82% {
    transform: scale(1);
  }
}
