@import "tailwindcss";
@import "./animations.css";
@import "./splashscreen.css";
@import "./recharts.css";
@import "./calendar.css";

/*--- custom variants ---*/
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant tablet {
  @media (orientation: landscape) and (min-height: 600px), (orientation: portrait) and (min-width: 600px) {
    @slot;
  }
}
@custom-variant desktop {
  @media (hover: hover) and (pointer: fine) {
    @media (orientation: landscape) and (min-height: 600px), (orientation: portrait) and (min-width: 600px) {
      @slot;
    }
  }
}

/*--- theme ---*/
@theme {
  /* bg main */
  --color-bgPrimary: #f7f3f9;
  --color-card: #ffffff;
  --color-modal: #f7f3f9;
  /* borders */
  --color-borderFaint: oklch(92.9% 0.013 255.508); /* slate-200 */
  /* text */
  --color-textPrimary: #142634;
  --color-textSecondary: #647987;
  --color-textTertiary: #8f9faa;
  --color-link: #007cc5; /* 6% darker than buttonPrimaryBg */
  --color-linkHover: #006dab; /* 12% darker than link */
  --color-textDanger: #ff4774; /* 5% brighter than buttonDangerBg */
  --color-textDangerHover: #df2553; /* 12% darker than textDanger */
  /* buttons */
  --color-buttonPrimaryText: #ffffff;
  --color-buttonPrimaryBg: #0084d1; /* sky-600 */
  --color-buttonPrimaryBgHover: #0074b8; /* 12% darker than buttonPrimaryBg */
  --color-buttonOutlineBorder: #d6dee9; /* slate-250 */
  --color-buttonOutlineBgHoverSubtle: #f6f9fc; /* color is between bgPrimary and buttonOutlineBgHover */
  --color-buttonOutlineBgHover: #f7f3f9; /* same as bgPrimary */
  --color-buttonDangerBg: #ff3264;
  --color-buttonDangerBgHover: #e62a58; /* 8% darker than buttonDangerBg */
  --color-buttonRing: rgb(0 132 209 / 70%);
  /* input */
  --color-inputPrimaryBg: #ffffff;
  --color-inputPrimaryBorder: oklch(92.9% 0.013 255.508); /* slate-200, 4% darker than bgPrimary */
  --color-inputPrimaryBorderHover: rgb(0 132 209 / 70%);
  --color-inputPrimaryRing: rgb(0 132 209 / 40%);
  --color-inputPrimaryPlaceholder: var(--color-textTertiary);
  --color-inputLoginBorder: #adbcce; /* slate-350 */
  --color-inputDangerRing: rgb(240 68 111 / 50%);
  /* toggle */
  --color-toggleOn: var(--color-buttonPrimaryBg);
  --color-toggleOff: oklch(86.9% 0.022 252.894); /* slate-300 */
  /* custom colors */
  --color-closeButtonBgHover: #dbe1e9; /* slate-250 */
  --color-loginButtonBg: #ffffff;
  --color-loginButtonBgHover: #ffffff;
  --color-loginButtonBorder: transparent; /* slate-200 */
  --color-loginButtonBorderHover: transparent; /* slate-300 */
  /* buttons glass */
  --color-buttonPrimaryGlassBg: #0084d1;
  --color-buttonPrimaryGlassBgHover: #0074b8;
  --color-buttonPrimaryGlassBorder: transparent;
  --color-buttonDangerGlassBg: #ff3264;
  --color-buttonDangerGlassBgHover: #e62a58;
  --color-buttonDangerGlassBorder: transparent;
  /* breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 750px;
  --breakpoint-lg: 980px;
  --breakpoint-xl: 1250px;
  --breakpoint-2xl: 1440px;
}
.dark {
  /* bg main */
  --color-bgPrimary: #0a051f; /* was 0b0f37*/
  --color-card: oklch(70.7% 0.165 254.624 / 7%); /* blue-400/7 */
  --color-modal: #141344; /* blue-400/14 overlaid on bgPrimary */
  /* borders */
  --color-borderFaint: oklch(70.7% 0.165 254.624 / 8%); /* blue-400/8 */
  /* text */
  --color-textPrimary: rgb(240 242 250);
  --color-textSecondary: rgb(240 242 250 / 0.7);
  --color-textTertiary: rgb(240 242 250 / 0.45);
  --color-link: #2072f6; /* 6% brighter than buttonPrimaryBg */
  --color-linkHover: #4085f5; /* 9% brighter than link */
  --color-textDanger: #ff507a;
  --color-textDangerHover: #ff7698; /* 11% brighter than textDanger */
  /* buttons */
  --color-buttonPrimaryText: #ffffff;
  --color-buttonPrimaryBg: #0364ff;
  --color-buttonPrimaryBgHover: #1c73ff; /* 8% brighter than buttonPrimaryBg */
  --color-buttonOutlineBorder: #293b70;
  --color-buttonOutlineBgHoverSubtle: oklch(70.7% 0.165 254.624 / 7%); /*  blue-400/7 */
  --color-buttonOutlineBgHover: oklch(70.7% 0.165 254.624 / 14%); /* blue-400/14 */
  --color-buttonDangerBg: #ff3a6a;
  --color-buttonDangerBgHover: #ff507a; /* 6% brighter than buttonDangerBg */
  --color-buttonRing: #546bb0;
  /* inputs */
  --color-inputPrimaryBg: #0a0826; /* bgPrimary */
  --color-inputPrimaryBorder: #131f40;
  --color-inputPrimaryBorderHover: #314278;
  --color-inputPrimaryRing: #1e2e60;
  --color-inputLoginBorder: var(--color-inputPrimaryBorder);
  --color-inputDangerRing: rgb(255 80 122 / 60%);
  /* toggle */
  --color-toggleOn: #0364ff;
  --color-toggleOff: rgb(240 242 250 / 0.2);
  /* custom colors */
  --color-closeButtonBgHover: oklch(70.7% 0.165 254.624 / 14%);
  --color-loginButtonBg: transparent;
  --color-loginButtonBgHover: oklch(70.7% 0.165 254.624 / 7%);
  --color-loginButtonBorder: rgb(255 255 255 / 21%);
  --color-loginButtonBorderHover: rgb(255 255 255 / 21%);
  /* buttons glass */
  --color-buttonPrimaryGlassBg: rgba(3, 100, 255, 0.5);
  --color-buttonPrimaryGlassBgHover: rgba(3, 100, 255, 0.65);
  --color-buttonPrimaryGlassBorder: rgba(73, 138, 244, 0.5);
  --color-buttonDangerGlassBg: rgba(255, 58, 106, 0.75);
  --color-buttonDangerGlassBgHover: rgba(255, 58, 106, 0.85);
  --color-buttonDangerGlassBorder: rgba(255, 112, 143, 0.75);
}

/*--- important base styles ---*/
button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}
/* adds outline for keyboard users (input, select, textarea uses ring) */
:focus-visible:not(input, select, textarea) {
  outline: 2px solid var(--color-buttonRing);
  outline-offset: 2px;
}
/* add this to <button> elements where outline overflows and becomes clipped (e.g., clickable items in a list, segmented control) */
.innerOutline:focus-visible {
  outline-offset: -2px;
}

/*--- text sizes (must reapply text size (e.g., textBase, textSm) after using "app", and "login" classes) ---*/
/* for landing page */
:root {
  --font-xs: 0.875rem; /* 14px */
  --font-sm: 1rem; /* 16px */
  --font-base: 1.125rem; /* 18px */
  --font-lg: 1.25rem; /* 20px */
  --font-xl: 1.5rem; /* 24px */
  --font-2xl: 1.875rem; /* 30px */
  --leading-xs: 1.6;
  --leading-sm: 1.5;
  --leading-base: 1.5;
  --leading-lg: 1.45;
  --leading-xl: 1.4;
  --leading-2xl: 1.3;
  --radius-smallButton: 0.325rem;
  --radius-button: 0.5rem;
  --radius-largeButton: 0.75rem;
  --radius-modal: 1rem;
}
/* for login page */
.login {
  /* desktop (LOGIN mobile/tablet is the same as APP mobile/tablet */
  @variant desktop {
    --font-xs: 0.875rem; /* 14px */
    --font-sm: 0.9375rem; /* 15px */
    --font-base: 1rem; /* 16px */
    --font-lg: 1.125rem; /* 18px */
    --font-xl: 1.375rem; /* 22px */
    --font-2xl: 1.625rem; /* 26px */
    --radius-smallButton: 0.75rem; /* 12px */
    --radius-button: 0.875rem; /* 14px */
    --radius-largeButton: 1.125rem; /* 18px */
    --radius-modal: 1.375rem; /* 22px */
  }
}
/* for app pages */
.app {
  /* mobile/tablet */
  --font-xs: 0.9375rem; /* 15px */
  --font-sm: 1rem; /* 16px */
  --font-base: 1.0625rem; /* 17px */
  --font-lg: 1.1875rem; /* 19px */
  --font-xl: 1.4375rem; /* 23px */
  --font-2xl: 1.8125rem; /* 29px */
  --leading-xs: 1.5;
  --leading-sm: 1.4;
  --leading-base: 1.4;
  --leading-lg: 1.35;
  --leading-xl: 1.3;
  --leading-2xl: 1.2;
  --radius-smallButton: 0.875rem; /* 14px */
  --radius-button: 1rem; /* 16px */
  --radius-largeButton: 1.25rem; /* 20px */
  --radius-modal: 1.5rem; /* 24px */
  /* desktop */
  @variant desktop {
    --font-xs: 0.75rem; /* 12px */
    --font-sm: 0.8125rem; /* 13px */
    --font-base: 0.875rem; /* 14px */
    --font-lg: 1rem; /* 16px */
    --font-xl: 1.125rem; /* 18px */
    --font-2xl: 1.5rem; /* 24px */
    --leading-xs: 1.45;
    --leading-sm: 1.35;
    --leading-base: 1.35;
    --leading-lg: 1.3;
    --leading-xl: 1.25;
    --leading-2xl: 1.15;
    --radius-smallButton: 0.625rem; /* 10px */
    --radius-button: 0.75rem; /* 12px */
    --radius-largeButton: 1rem; /* 16px */
    --radius-modal: 1.5rem; /* 24px */
  }
}

@utility textXs {
  font-size: var(--font-xs);
  line-height: var(--leading-xs);
}
@utility textSm {
  font-size: var(--font-sm);
  line-height: var(--leading-sm);
}
@utility textBase {
  font-size: var(--font-base);
  line-height: var(--leading-base);
}
@utility textLg {
  font-size: var(--font-lg);
  line-height: var(--leading-lg);
}
@utility textXl {
  font-size: var(--font-xl);
  line-height: var(--leading-xl);
}
@utility text2xl {
  font-size: var(--font-2xl);
  line-height: var(--leading-2xl);
}

/*--- radius ---*/
@utility roundedButtonSm {
  border-radius: var(--radius-smallButton);
}
@utility roundedButton {
  border-radius: var(--radius-button);
}
@utility roundedButtonLg {
  border-radius: var(--radius-largeButton);
}
@utility roundedModal {
  border-radius: var(--radius-modal);
}

/*--- card shadows ---*/
@utility cardShadow {
  @apply shadow-[0px_2px_8px_0px_rgba(0,0,0,0.06)] dark:shadow-none;
}
@utility cardShadowWithHover {
  @apply shadow-[0px_2px_10px_0px_rgba(20,38,52,0.05)] desktop:hover:shadow-[0px_6px_16px_0px_rgba(20,38,52,0.1)] dark:shadow-none;
}

/*--- buttons ---*/

@utility buttonWhiteGradient {
  @apply bg-[linear-gradient(to_top,rgb(255_255_255_/_0.2),rgb(255_255_255_/_0.05))];
}

@utility buttonPrimaryColor {
  @apply text-buttonPrimaryText bg-buttonPrimaryBg desktop:hover:bg-buttonPrimaryBgHover active:bg-buttonPrimaryBgHover [transition:background-color_300ms];
}
.buttonPrimaryColorGlass {
  @apply text-buttonPrimaryText bg-buttonPrimaryGlassBg desktop:hover:bg-buttonPrimaryGlassBgHover active:bg-buttonPrimaryGlassBgHover backdrop-blur-sm active:scale-107 dark:border border-buttonPrimaryGlassBorder [transition:background-color_300ms,scale_200ms] dark:buttonWhiteGradient;
}
.buttonDangerColor {
  @apply text-buttonPrimaryText bg-buttonDangerBg desktop:hover:bg-buttonDangerBgHover active:bg-buttonDangerBgHover [transition:background-color_300ms];
}
.buttonDangerColorGlass {
  @apply text-buttonPrimaryText bg-buttonDangerGlassBg desktop:hover:bg-buttonDangerGlassBgHover active:bg-buttonDangerGlassBgHover backdrop-blur-sm active:scale-107 dark:border border-buttonDangerGlassBorder [transition:background-color_300ms,scale_200ms] dark:buttonWhiteGradient;
}
.keypadColor {
  @apply bg-[#D6DEE9] dark:bg-buttonPrimaryBg/40 active:bg-slate-300 dark:active:bg-buttonPrimaryBg/80 transition-all duration-150;
}

/*--- login button ---*/
.loginButtonBase {
  @apply w-full h-16 desktop:h-15 px-8 tablet:px-9 flex items-center gap-4 select-none font-medium;
}
.loginButtonColor {
  @apply bg-loginButtonBg desktop:hover:bg-loginButtonBgHover border border-loginButtonBorder desktop:hover:border-loginButtonBorderHover cardShadowWithHover transition-all duration-300;
}
.loginButtonRoundness {
  @apply rounded-[33px] desktop:rounded-[1.9rem];
}

/*--- inputs ---*/
@utility inputPrimaryRing {
  @apply ring-2 ring-transparent focus:ring-inputPrimaryRing;
}
@utility inputDangerRing {
  @apply ring-2 ring-transparent focus:ring-inputDangerRing;
}
.inputPrimaryColor {
  @apply bg-inputPrimaryBg placeholder:text-inputPrimaryPlaceholder border border-inputPrimaryBorder desktop:hover:border-inputPrimaryBorderHover focus:border-inputPrimaryBorderHover inputPrimaryRing transition-all duration-300;
}
.inputLoginColor {
  @apply bg-inputPrimaryBg placeholder:text-inputPrimaryPlaceholder border border-inputLoginBorder desktop:hover:border-inputPrimaryBorderHover focus:border-inputPrimaryBorderHover inputPrimaryRing transition-all duration-300;
}
.inputDangerColor {
  @apply bg-inputPrimaryBg placeholder:text-inputPrimaryPlaceholder border border-textDanger desktop:hover:border-textDanger focus:border-textDanger inputDangerRing transition-all duration-300;
}
.selectOutlineColor {
  @apply border border-buttonOutlineBorder desktop:hover:border-inputPrimaryBorderHover focus:border-inputPrimaryBorderHover inputPrimaryRing transition-all duration-300;
}

/*--- labels ---*/
.inputLabel {
  @apply pb-1.5 font-medium;
}
.detailsLabel {
  @apply textSm font-medium;
}
.settingsLabel {
  @apply font-medium;
}

/*--- landing ---*/
.homeSectionSize {
  @apply px-[16px] xs:px-[24px] lg:px-[100px] w-full max-w-[650px] lg:max-w-[calc(960px+200px)];
}

/*--- APP ---*/

.app {
  /* --- mobile --- */
  --listPadding: 0px;
  --listHeaderHeight: 3rem;
  --listFadeHeight: 90px;
  @media (orientation: portrait) {
    --menuContentHeight: 80px;
    --menuHeight: calc(var(--menuContentHeight) + env(safe-area-inset-bottom));
    --menuWidth: 0px;
  }
  @media (orientation: landscape) {
    --menuContentWidth: 120px;
    --menuHeight: 0px;
    --menuWidth: calc(var(--menuContentWidth) + env(safe-area-inset-left));
  }
  /* --- tablet --- */
  @variant tablet {
    --listPadding: 3rem;
    --listHeaderHeight: 3.5rem;
    --listFadeHeight: 100px;
    @media (orientation: portrait) {
      --menuContentHeight: 100px;
      --menuHeight: calc(var(--menuContentHeight) + env(safe-area-inset-bottom));
      --menuWidth: 0px;
    }
    @media (orientation: landscape) {
      --menuContentWidth: 160px;
      --menuHeight: 0px;
      --menuWidth: calc(var(--menuContentWidth) + env(safe-area-inset-left));
    }
  }
  /* --- desktop --- */
  @variant desktop {
    --listPadding: 3rem;
    --listHeaderHeight: 3rem;
    --listFadeHeight: 100px;
    @media (orientation: portrait) {
      --menuHeight: 100px;
      --menuWidth: 0px;
    }
    @media (orientation: landscape) {
      --menuHeight: 0px;
      --menuWidth: 160px;
    }
  }
}

.pageContentMaxWidth {
  @apply tablet:max-w-150 desktop:max-w-140;
}

/*--- app: settings page ---*/
.settingsDraggableElement {
  @apply p-1 h-13 desktop:h-10 flex items-center justify-between border-t border-b border-dashed border-borderFaint desktop:hover:text-textSecondary;
}

.settingsOutlineContainer {
  @apply my-3 px-3 xs:px-6 py-5 flex flex-col gap-6 rounded-2xl border border-buttonOutlineBorder;
}

.settingsFilterContainer {
  @apply w-full flex flex-col lg:flex-row items-center gap-3 lg:gap-2;
}

/*--- modal ---*/
@utility modalColor {
  @apply bg-bgPrimary tablet:bg-modal tablet:border tablet:border-inputPrimaryBorder;
}

/*--- links ---*/
@utility linkRedColor {
  @apply text-textDanger desktop:hover:text-textDangerHover active:text-textDangerHover;
}
@utility linkGrayColor {
  @apply text-textTertiary desktop:hover:text-textSecondary active:text-textSecondary;
}
@utility linkColor {
  @apply text-link desktop:hover:text-linkHover active:text-linkHover;
}

/*--- background glows ---*/
.dark .pageGlow {
  background: radial-gradient(
    ellipse at center,
    rgba(42, 84, 222, 0.6) 0%,
    rgba(42, 84, 222, 0.45) 6%,
    rgba(42, 84, 222, 0.35) 12%,
    rgba(42, 84, 222, 0.17) 24%,
    rgba(42, 84, 222, 0.07) 36%,
    transparent 50%
  );
}
.dark .modalGlow {
  background: radial-gradient(
    circle at center bottom,
    rgba(42, 84, 222, 0.7) 0%,
    rgba(42, 84, 222, 0.5) 10%,
    rgba(42, 84, 222, 0.35) 26%,
    rgba(42, 84, 222, 0.3) 40%,
    rgba(42, 84, 222, 0.2) 70%,
    transparent 90%
  );
  @variant tablet {
    background: radial-gradient(
      circle at center bottom,
      rgba(57, 91, 255, 0.5) 0%,
      rgba(57, 91, 255, 0.38) 12%,
      rgba(57, 91, 255, 0.24) 24%,
      rgba(57, 91, 255, 0.13) 38%,
      rgba(57, 91, 255, 0.055) 54%,
      transparent 82%
    );
  }
}
.dark .noHeaderModalGlow {
  background: radial-gradient(
    ellipse at center bottom,
    rgba(42, 84, 222, 0.9) 0%,
    rgba(42, 84, 222, 0.68) 12%,
    rgba(42, 84, 222, 0.48) 30%,
    rgba(42, 84, 222, 0.34) 50%,
    rgba(42, 84, 222, 0.26) 76%,
    rgba(42, 84, 222, 0.14) 100%
  );
  @variant tablet {
    background: radial-gradient(
      ellipse at center bottom,
      rgba(57, 91, 255, 0.5) 0%,
      rgba(57, 91, 255, 0.36) 16%,
      rgba(57, 91, 255, 0.22) 34%,
      rgba(57, 91, 255, 0.12) 56%,
      rgba(57, 91, 255, 0.08) 78%,
      rgba(57, 91, 255, 0.045) 100%
    );
  }
}

/*--- autofill ---*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--inputPrimaryBg) inset !important;
  -webkit-text-fill-color: var(--inputPrimaryText) !important;
}

/*--- scrollbar ---*/
@utility thinScroll {
  --scrollbar-track: #f6f9fc;
  --scrollbar-thumb: #cbd5e1;
  .dark & {
    --scrollbar-track: rgba(255, 255, 255, 0.07);
    --scrollbar-thumb: rgba(255, 255, 255, 0.1);
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: var(--scrollbar-track);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--scrollbar-thumb);
  }
}

/*--- underline animate ---*/
.underline-animate {
  position: relative;
  display: inline-block;
}
.underline-animate::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: currentColor;
  transition: all 0.3s ease;
}
.underline-animate:hover::after {
  width: 100%;
}
