@import "tailwindcss";
@config "../../tailwind.config.ts";
@import "./animations.css";

@theme {
  /* bg & text */
  --color-bg1: #f7edf7;
  --color-text1: #212427;
  --color-text2: #64748b;
  --color-link: #0364ff;
  --color-linkHover: #1c73ff;
  --color-textRed: #ff295d;
  --color-textRedHover: #d91f4f;
  /* button primary */
  --color-button1Bg: oklch(58.8% 0.158 241.966); /* sky-600 */
  --color-button1BgHover: oklch(50% 0.134 242.749); /* sky-700 */
  --color-button1Text: #ffffff;
  --color-buttonTransBg: transparent;
  --color-buttonTransBgHover: #f0e7f0;
  --color-buttonTransText: #ffffff;
  --color-buttonRedBg: #ff295d;
  --color-buttonRedBgHover: #d91f4f;
  --color-buttonRedText: #ffffff;
  /* input 1 */
  --color-input1Bg: #ffffff;
  --color-input1Border: #b1daee;
  --color-input1BorderHover: #77c7f0;
  --color-input1BorderFocus: oklch(58.8% 0.158 241.966);
  --color-input1Ring: #77c7f0;
  --color-input1Placeholder: oklch(70.4% 0.04 256.788); /* slate-400 */
  /* input 2 */
  --color-inputTransBg: transparent;
  --color-inputTransBorder: #e2e8f1; /* slate-200 */
  --color-inputTransBorderHover: #77c7f0;
  --color-inputTransBorderFocus: oklch(58.8% 0.158 241.966);
  --color-inputTransRing: #77c7f0;
  --color-inputTransPlaceholder: oklch(70.4% 0.04 256.788); /* slate-400 */
  /* card & others */
  --color-card: #f6f9fc;
  --color-borderFaint: oklch(92.9% 0.013 255.508); /* slate-200 */
  /* breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 750px;
  --breakpoint-lg: 980px;
  --breakpoint-xl: 1250px;
  --breakpoint-2xl: 1440px;
}

.dark {
  --color-bg1: #0a051f; /* was 0b0f37*/
  --color-text1: #e9e8f6;
  --color-text2: oklch(78.9% 0.022 252.894); /* slate-400 */
  --color-link: #2374f6;
  --color-linkHover: #4286f3;
  --color-textRed: #ff3a6a;
  --color-textRedHover: #ff507a;
  /* buttons */
  --color-button1Bg: #0364ff;
  --color-button1BgHover: #1c73ff;
  --color-button1Text: #ffffff;
  --color-buttonTransBg: transparent;
  --color-buttonTransBgHover: rgba(255, 255, 255, 0.08); /* oklch(70.7% 0.165 254.624 / 15%) blue-400/15 */
  --color-buttonTransText: #ffffff;
  --color-buttonRedBg: #ff3a6a;
  --color-buttonRedBgHover: #ff507a;
  --color-buttonRedText: #ffffff;
  /* input */
  --color-input1Bg: #07112e;
  --color-input1Border: #1f2c54;
  --color-input1BorderHover: #2e417a;
  --color-input1BorderFocus: #374d8f;
  --color-input1Ring: #243568;
  --color-input1Placeholder: #45556c; /* slate-600 */
  /* input 2 */
  --color-inputTransBg: transparent;
  --color-inputTransBorder: #22346a;
  --color-inputTransBorderHover: #2f4d97;
  --color-inputTransBorderFocus: #2f4d97;
  --color-inputTransRing: #26407f;
  --color-inputTransPlaceholder: oklch(44.6% 0.043 257.281); /* slate-600 */
  /* card & others */
  --color-card: oklch(70.7% 0.165 254.624 / 8%); /* blue-400/10 */
  --color-borderFaint: rgb(255 255 255 / 0.08);
}

html,
body {
  background: #f7edf7; /* light bg1 */
}

html.dark,
html.dark body {
  background: #0a051f; /* darkBg1 0b0f37*/
}

/*--- scrollbar ---*/

@utility scrollbar-stable {
  scrollbar-gutter: stable;
}

/*--- text size ---*/

@utility textSmApp {
  @apply text-base desktop:text-[0.8125rem];
}

@utility textBaseApp {
  @apply text-lg desktop:text-sm;
}

@utility textLgApp {
  @apply text-xl desktop:text-lg;
}

@utility text2XlApp {
  @apply text-3xl desktop:text-2xl;
}

@utility errorText {
  @apply text-textRedHover textBaseApp font-medium;
}

/*--- buttons ---*/

@utility button1Color {
  @apply text-button1Text bg-button1Bg desktop:hover:bg-button1BgHover active:bg-button1BgHover disabled:opacity-80 [transition:background-color_200ms];
}

.homeButton {
  @apply button1Color px-7 desktop:px-6 py-4 desktop:py-3 textLgApp font-medium rounded-full cursor-pointer;
}

.buttonSignOut {
  @apply flex-none h-14 desktop:h-10 textBaseApp button1Color rounded-full w-32 desktop:w-25 mx-auto my-12;
}

.xButton {
  @apply absolute right-0 top-0 w-16 h-16 desktop:w-13 desktop:h-13 text-[2rem] desktop:text-[1.5rem] font-bold flex items-center justify-center desktop:rounded-bl-2xl desktop:rounded-tr-2xl cursor-pointer desktop:hover:bg-buttonTransBgHover active:bg-buttonTransBgHover disabled:opacity-80 [transition:background-color_300ms];
}

/*--- login button ---*/

@utility loginButtonBase {
  @apply w-full h-16 desktop:h-13 flex items-center justify-center cursor-pointer gap-[12px] textBaseApp font-medium;
}

@utility loginButtonColor {
  @apply bg-white dark:bg-transparent border border-slate-200 hover:border-slate-300 dark:border-slate-400 dark:hover:border-slate-400 dark:hover:bg-slate-300/20 [transition:background-color_200ms];
}

@utility loginButtonRoundness {
  @apply rounded-[33px] desktop:rounded-[1.65rem];
}

/*--- input ---*/

@utility input1BgAndTextColor {
  @apply bg-input1Bg text-text1 placeholder:text-input1Placeholder;
}

@utility input1Border {
  @apply border border-input1Border desktop:hover:border-input1BorderHover focus:border-input1BorderFocus focus:hover:border-input1BorderFocus;
}

@utility input1Ring {
  @apply ring-2 ring-transparent focus:ring-input1Ring;
}

@utility input1Color {
  @apply input1BgAndTextColor input1Border input1Ring outline-none transition-all duration-300;
}

@utility inputTransBgAndTextColor {
  @apply bg-inputTransBg text-text1 placeholder:text-inputTransPlaceholder;
}

@utility inputTransBorder {
  @apply border border-inputTransBorder desktop:hover:border-inputTransBorderHover focus:border-inputTransBorderFocus focus:hover:border-inputTransBorderFocus;
}

@utility inputTransRing {
  @apply ring-2 ring-transparent focus:ring-inputTransRing;
}

@utility inputTransColor {
  @apply inputTransBgAndTextColor inputTransBorder inputTransRing outline-none transition-all duration-300;
}

.inputMaxWidth {
  @apply max-w-[380px];
}

.inputLabel {
  @apply font-medium textBaseApp;
}

/*--- landing ---*/

.homeSectionSize {
  @apply px-[16px] xs:px-[24px] lg:px-[100px] w-full max-w-[650px] lg:max-w-[calc(960px+200px)];
}

/*--- app ---*/

/* --- mobile --- */
@media (orientation: portrait) {
  :root {
    --listPaddingTop: 0px;
    --listHeaderHeight: 3rem;
    --listButtonContainerHeight: 90px;
    --menuHeight: 80px;
    --numRows: 10;
  }
}
@media (orientation: landscape) {
  :root {
    --listPaddingTop: 0px;
    --listHeaderHeight: 3rem;
    --listButtonContainerHeight: 90px;
    --menuHeight: 0px;
    --numRows: 10;
  }
}
/* --- tablet --- */
@media (orientation: portrait) and (min-width: 600px) {
  :root {
    --listPaddingTop: 24px;
    --listHeaderHeight: 3rem;
    --listButtonContainerHeight: 100px;
    --menuHeight: 120px;
    --numRows: 11;
  }
}
@media (orientation: landscape) and (min-width: 980px) {
  :root {
    --listPaddingTop: 24px;
    --listHeaderHeight: 3rem;
    --listButtonContainerHeight: 100px;
    --menuHeight: 0px;
    --numRows: 10;
  }
}
/* --- desktop --- */
@media (hover: hover) and (pointer: fine) {
  :root {
    --numRows: 14;
  }
}

.menuIcon {
  @apply text-[22px] portrait:sm:text-[2rem] landscape:lg:text-[2rem];
}

.appPageContainer {
  @apply relative h-[calc(100dvh-var(--menuHeight))] portrait:w-full landscape:w-[calc(100%-120px)] landscape:lg:w-[calc(100%-160px)] landscape:desktop:!w-[calc(100%-200px)] landscape:ml-[120px] landscape:lg:ml-[160px] landscape:desktop:!ml-[200px] flex flex-col items-center overflow-y-auto overflow-x-hidden;
}

/*--- app: items page ---*/

.listHeaderColor {
  @apply text-slate-700 dark:text-slate-400 bg-bg1 dark:portrait:sm:bg-blue-400/5 dark:landscape:lg:bg-blue-400/5;
}

.listTotalHeight {
  @apply h-[calc(100dvh-var(--listPaddingTop)-var(--listHeaderHeight)-var(--listButtonContainerHeight)-var(--menuHeight))];
}

.listItemHeight {
  @apply h-[calc((100dvh-var(--listPaddingTop)-var(--listHeaderHeight)-var(--listButtonContainerHeight)-var(--menuHeight))/var(--numRows))] min-h-[3.25rem] max-h-[4.05rem];
}

.detailsInput {
  @apply h-11 desktop:h-8 px-3 desktop:px-2 text-base desktop:text-[0.8125rem] rounded-lg input1Color;
}

.detailsLabel {
  @apply font-medium text-base desktop:text-xs opacity-70;
}

.detailsOptionContainer {
  @apply mt-1 grid grid-cols-1 rounded-lg border-[1.5px] bg-input1Bg border-input1Border divide-y-[1.5px] divide-borderFaint overflow-y-auto;
}

.detailsOption {
  @apply flex-none w-full px-1 h-10 desktop:h-7 text-base desktop:text-[0.8125rem] flex items-center desktop:hover:bg-buttonTransBgHover truncate desktop:cursor-pointer;
}

/*--- app: settings page ---*/

.settingsLabel {
  @apply font-medium;
}

.settingsEditIcon {
  @apply flex-none text-2xl desktop:text-lg text-button1Bg desktop:cursor-pointer desktop:hover:brightness-[1.2];
}

.settingsDraggableElement {
  @apply px-[4px] h-13 desktop:h-10 flex items-center justify-between border-t border-b border-dashed border-borderFaint desktop:cursor-pointer desktop:hover:text-slate-400;
}

.cardInner {
  @apply px-4 py-3 flex flex-col gap-4 rounded-2xl border border-borderFaint dark:border-blue-400/6 bg-transparent dark:bg-blue-400/5;
}

/*--- modal ---*/

@utility modalFullColor {
  @apply bg-card dark:bg-[#0B0F37] desktop:border border-slate-300 dark:border-blue-500/30;
}

.modalErrorMessage {
  @apply py-2 errorText flex items-center justify-center;
}

/*--- utilities ---*/

@utility linkRedColor {
  @apply text-textRed hover:text-textRedHover;
}

@utility linkGrayColor {
  @apply text-slate-400 hover:text-slate-500 dark:text-slate-500 dark:hover:text-slate-400;
}

@utility linkColor {
  @apply text-link desktop:hover:text-linkHover;
}

.link {
  @apply linkColor desktop:cursor-pointer;
}

/*--- background glows ---*/

.dark .pageGlow {
  background: radial-gradient(
    ellipse at center,
    rgba(65, 47, 201, 0.5) 0%,
    rgba(65, 47, 201, 0.4) 8%,
    rgba(65, 47, 201, 0.3) 16%,
    rgba(65, 47, 201, 0.2) 26%,
    rgba(65, 47, 201, 0.05) 50%,
    transparent 100%
  );
}

/* ≥480px override */
@media (min-width: 480px) {
  .dark .pageGlow {
    background: radial-gradient(
      ellipse at center,
      rgba(42, 84, 222, 0.6) 0%,
      rgba(42, 84, 222, 0.45) 6%,
      rgba(42, 84, 222, 0.35) 12%,
      rgba(42, 84, 222, 0.17) 24%,
      rgba(42, 84, 222, 0.07) 36%,
      transparent 50%
    );
  }
}

.dark .modalGlow {
  background: radial-gradient(
    ellipse at center,
    rgba(42, 84, 222, 0.3) 0%,
    rgba(42, 84, 222, 0.25) 12%,
    rgba(42, 84, 222, 0.18) 28%,
    rgba(42, 84, 222, 0.1) 40%,
    rgba(42, 84, 222, 0.05) 50%,
    transparent 100%
  );
}

/*--- autofill ---*/

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--input1Bg) inset !important;
  -webkit-text-fill-color: var(--input1Text) !important;
}

/*--- scrollbar ---*/

@utility thinScrollbar {
  --scrollbar-track: #f6f9fc;
  --scrollbar-thumb: #cbd5e1;

  .dark & {
    --scrollbar-track: rgba(255, 255, 255, 0.07);
    --scrollbar-thumb: rgba(255, 255, 255, 0.1);
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: var(--scrollbar-track);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--scrollbar-thumb);
  }
}

/*--- underline animate ---*/

.underline-animate {
  position: relative;
  display: inline-block;
}

.underline-animate::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: currentColor;
  transition: all 0.3s ease;
}

.underline-animate:hover::after {
  width: 100%;
}
